<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="@{layouts/default}">	

	
	<head>
		<!-- ************************************
		auxdebierahabermostradoexcepcion.html
		Creado 201502271729
		
		Autor prgdev01

		-->
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		
		<link layout:include="/layouts/springnut_styles :: springnut_styles_fragment" th:remove="tag"></link>
			

		  
		<script layout:include="/layouts/springnut_scripts :: springnut_scripts_fragment" th:remove="tag"></script>

		
		<title>Excepción intencionada</title>
	
	</head>


	<body>
		<div class="cssSpringnut_container">

			<h1 layout:fragment="tit_page" class="cssSpringnut_page_header_tit_page">Excepción intencionada</h1>


			<div id="page_content" layout:fragment="content">

				<div class="cssSpringnut_content">
				
	
			
					<input type="hidden" name="AppBaseURLfld" id="did_AppBaseURLfld" value="" th:value="@{/}" />
						
					<h3 id="did_autorizadoMsg_span">Debiera haber mostrado una excepción esperada como parte de una validación de los mecanismos de control de calidad del programa.</h3>
					<h4>
						<span id="did_httpMethod_span"    th:text="${httpMethod}"></span>
						<span id="did_rutaSolicitud_span" th:text="${rutaSolicitud}"></span>
					</h4>
	
				</div>
				<!-- cierre content_left -->
				
				<br/>
	
	
			</div>
			<!-- cierre page_content -->
			
			
			<div id="page_footer"></div>
			
		</div>
		<!-- cierre container -->
		
	</body>
</html>