<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	
	<!-- ************************************
	springnut_styles.html
	Creado 201411080333
	
	Autor prgdev01
	-->
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body layout:fragment="springnut_styles_fragment">
					  		
		<!-- BEGIN estilos especificos de la aplicacion springnut  -->

		<link rel="stylesheet" type="text/css" media="all" href="../../../styles/springnut_header_styles.css"   th:href="@{/resources/styles/springnut_header_styles.css}" />

		<link rel="stylesheet" type="text/css" media="all" href="../../../styles/springnut_menubar_styles.css"  th:href="@{/resources/styles/springnut_menubar_styles.css}" />

		<link rel="stylesheet" type="text/css" media="all" href="../../../styles/springnut_content_styles.css"  th:href="@{/resources/styles/springnut_content_styles.css}" />

		<link rel="stylesheet" type="text/css" media="all" href="../../../styles/springnut_features_styles.css" th:href="@{/resources/styles/springnut_features_styles.css}" />

		<!-- END estilos especificos de la aplicacion springnut  -->
		
	</body>
</html>