<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	
	<!-- ************************************
	springnut_app_scripts.html
	Creado 201411080342
	
	Autor prgdev01
	-->
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body layout:fragment="springnut_app_scripts_fragment">
					  		
		<!-- BEGIN scripts especificos de la aplicacion springnut  -->
		
		<script type="text/javascript" src="js/springnut/cssnames_springnut.js"></script>

		<script type="text/javascript" src="js/springnut/springnut_types.js"></script>
		
		<script type="text/javascript" src="js/springnut/credenciales/credenciales_types.js"></script>
		<script type="text/javascript" src="js/springnut/credenciales/credenciales_svce_type.js"></script>
		<script type="text/javascript" src="js/springnut/credenciales/credenciales_svce.js"></script>
		
		<script type="text/javascript" src="js/springnut/commonspringnutctrls/commonspringnut_types.js"></script>
		<script type="text/javascript" src="js/springnut/commonspringnutctrls/commonspringnut_ctrl_type.js"></script>
			
		<!-- END scripts especificos de la aplicacion springnut  -->

	</body>
</html>