<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="@{layouts/default}"
	
	lang="es"  ng-app="springnut"  xmlns:ng="http://angularjs.org" id="ng-app" >

	
	<head>
		<!-- Ultima linea en elemento html mas arriba
	     para soportar la edicion de validaciones usando AngularJS
			lang="es"  ng-app="springnut"  xmlns:ng="http://angularjs.org" id="ng-app"
		-->	
		
		<!-- ************************************
		launchapp_fasesvalidacion.html
		Creado 201411031944
		
		Autor prgdev01
		-->
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<!-- BEGIN meta tag para soportar marco de interfaz de usuario con AngularJS -->	
		<meta name="viewport" content="width=device-width" /> 
		<!-- END meta tag para soportar marco de interfaz de usuario con AngularJS -->	
		
		
		<link layout:include="/layouts/springnut_styles :: springnut_styles_fragment" th:remove="tag"></link>
			
		<link layout:include="/layouts/angular_styles :: angular_styles_fragment" th:remove="tag"></link>
					
		<link layout:include="/layouts/springnut_app_styles :: springnut_app_styles_fragment" th:remove="tag"></link>
			
			
			

		<!-- BEGIN estilos especificos de la pantalla fasesvalidacion de la aplicacion springnut con angular -->
		
		<link rel="stylesheet" href="css/columns_fasesvalidacion_springnut.css" />
		    
		<!-- END estilos especificos de la pantalla fasesvalidacion de la aplicacion springnut con angular -->
		
		  
		  
	
		  
		  
		  
		<script layout:include="/layouts/springnut_scripts :: springnut_scripts_fragment" th:remove="tag"></script>
		
					  
		<script layout:include="/layouts/angular_scripts :: angular_scripts_fragment" th:remove="tag"></script>


		<script layout:include="/layouts/backand_scripts :: backand_scripts_fragment" th:remove="tag"></script>



		<!-- script principal de carga de aplicacion, declaracion de modulos requeridos, y configuracion del router de URLs a controladores -->
				
		<script type="text/javascript" src="js/app_fasesvalidacion.js"></script>
		
		
		<script layout:include="/layouts/app_scripts :: app_scripts_fragment" th:remove="tag"></script>
		
		<script layout:include="/layouts/springnut_app_scripts :: springnut_app_scripts_fragment" th:remove="tag"></script>
	


		<!-- BEGIN scripts especificos de la pagina de fases de validacion de la aplicacion springnut -->

		<script type="text/javascript" src="js/springnut/fasesvalidacion/cssnames_fasesvalidacion.js"></script>

		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_types.js"></script>

		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_svce_type.js"></script>

		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_ficheros_instrumentacion_ctrl_specs.js"></script>
		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_ficheros_operacion_ctrl_specs.js"></script>
		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_bloques_instrumentacion_ctrl_specs.js"></script>
		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_bloques_operacion_ctrl_specs.js"></script>

		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_ctrl_type.js"></script>

		<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_svce.js"></script>

	  	<script type="text/javascript" src="js/springnut/fasesvalidacion/fasesvalidacion_ctrl.js"></script>
	 
		<!-- END scripts especificos de la pagina de fases de validacion de la aplicacion springnut -->

		
		
		<title>Validaciones</title>
	
	</head>


	
	
	<body>
		<div class="cssSpringnut_container">

			<h1 layout:fragment="tit_page" class="cssSpringnut_page_header_tit_page">Validación de Ficheros</h1>


			<div id="page_content" layout:fragment="content">

				<div class="cssSpringnut_content">
				
	
					<!-- BEGIN Para soportar las fases de validacion usando AngularJS -->	
			
					<input type="hidden" name="AppBaseURLfld" id="did_AppBaseURLfld" value="" th:value="@{/}" />
			
					<div layout:include="/layouts/runningtest :: runningtest" th:remove="tag"></div>
					
					<div layout:include="/layouts/rowindexfinder :: rowindexfinder" th:remove="tag"></div>
					
					
					
					<!-- BEGIN Paso de parametros especificos de la pagina: theTipoBoletin -->	
					
					<input type="hidden" name="theTipoBoletin_fld"      id="did_theTipoBoletinfld"      value="" th:value="${theTipoBoletin}" />
					<input type="hidden" name="theFicherosObloques_fld" id="did_theFicherosObloquesfld" value="" th:value="${theFicherosObloques}" />
					
					<!-- END Paso de parametros especificos de la pagina -->
					
					
					
			
				    <!-- angularjs view -->
	
				    <div ng-view="" class="cssSpringnut_app_div"></div>
	
					<!-- END Para soportar la edicion de validaciones usando AngularJS -->	
	
				</div>
				<!-- cierre content_left -->
				
				<br/>
	
	
			</div>
			<!-- cierre page_content -->
			
			
			<div id="page_footer"></div>
			
		</div>
		<!-- cierre container -->
		
	</body>
</html>