<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	
	<!-- ************************************
	springnut_app_styles.html
	Creado 201411080333
	
	Autor prgdev01
	-->
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body layout:fragment="springnut_app_styles_fragment">
					  		
		<!-- BEGIN estilos especificos de la aplicacion springnut con angular -->
		
		<link rel="stylesheet" href="css/app_springnut.css" />
		
		<!-- END estilos especificos de la aplicacion springnut con angular -->
		
	</body>
</html>