<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	
	<!-- ************************************
	backand_scripts.html
	Creado 201512310305
	
	Autor prgdev01
	-->
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body layout:fragment="backand_scripts_fragment">
	

	    <!-- BEGIN scripts Backand SDK for Angular -->
	
	    <script src="//cdn.backand.net/backand/dist/1.8.0/backand.min.js"></script>

	    <!-- END scripts Backand SDK for Angular -->


		<!-- BEGIN scripts to adapt HitServer to use Backand -->

		<script type="text/javascript" src="js/backanduse.js"></script>

		<!-- END scripts to adapt HitServer to use Backand -->


	</body>
</html>